@import "tailwindcss";

:root {
  --color-primary: #9cbfa7;
  --color-secondary: #5c5c5c;
  --color-text: #333333;
  --color-text-light: #5c5c5c;
  --color-background: #ffffff;
  --color-background-secondary: #f9f9f9;
  --color-border: #eaeaea;
  --color-accent: #8377d1;
}

html {
  min-width: 320px;
  background: var(--color-background);
}

body {
  min-width: 320px;
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

::selection {
  background: var(--color-primary);
  color: var(--color-text);
}
